.item-card {
    padding: 1.5em 1em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 270px 1fr auto;
    grid-template-areas:
        'title'
        'picture'
        'details'
        'action';

    text-align: center;
    border: var(--main-element-border);
    color: var(--main-color);

    .title,
    .picture,
    .details,
    .action {
        padding: 0.3em 0;
    }

    .title {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .picture {
        grid-area: picture;

        .pseudo-image {
            width: 170px;
            height: 100%; // image hight is determent from the grid
            margin: 0 auto;
            position: relative;
            background-color: #bbb;

            span {
                position: absolute;
                color: var(--main-color);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .details {
        grid-area: details;

        .description-text {
            margin: 0 auto;
            margin-bottom: 2em;
        }
    }

    .action {
        grid-area: action;
    }
}
