@import './variables.scss';

.contact-us {
    padding: 3em 0;
    display: flex;
    background-color: $secondaryColor;
    color: $mainColor;
    box-shadow: 0.5em 0.25em 1.5em -0.5em rgba(0, 0, 0, 0.75);
}

.column {
    flex-basis: 50%;
}

.description {
    h2,
    p {
        padding-bottom: 2rem;
    }

    h2 {
        display: flex;
        flex-direction: column;

        span {
            flex-basis: 100%;
        }
    }

    p {
        max-width: 20em;
    }

    a {
        display: inline-block;
        padding: 0.75em 2em;
        border: 0.05em solid $mainColor;
        color: $mainColor;
    }
}

.image {
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
