*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 20px/1.5 Helvetica, sans-serif;
}

body {
    background: #a55;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
}

// NavBar
nav {
}

ul {
    display: flex;
    justify-content: space-between;
}
