$mainColor: #7c2c0c;
$secondaryColor: #fae6c4;
$secondaryLighterColor: #efe4d1;
$secondaryDarkerColor: #8e8e8e;

$mainElementBorder: 0.05em solid $mainColor;
$navBorder: 0.75em solid $secondaryLighterColor;
