li {
    list-style: none outside;
}

a {
    text-decoration: none;
}

input,
select,
textarea {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--main-color);
        -webkit-box-shadow: 0 0 0 2rem var(--main-background-color) inset;
        border-top: var(--main-input-border);
        border-bottom: var(--main-input-border);
        border-color: var(--main-color);
    }

    &:-webkit-autofill::first-line {
        font-size: 1rem;
        font-family: 'Roboto';
    }
}
