$borderPlace: -1.5em;
$borderShape: 0.5em solid var(--main-color);

.column {
    flex-basis: 50%;
}

.about-us {
    padding: 5em 0;
    background-color: var(--main-background-color);
    box-shadow: 0 0.3em 1em -0.3em rgba(0, 0, 0, 0.75);
}

.image-wrapper {
    padding: 2em;

    div {
        position: relative;
        margin: 0 auto;
        width: 230px;
        height: 530px;
        background-color: #bbb;
        border: var(--main-element-border);

        &::before,
        &::after {
            display: block;
            content: '';
            width: 5em;
            height: 5em;
            position: absolute;
        }

        &::before {
            top: $borderPlace;
            left: $borderPlace;
            border-top: $borderShape;
            border-left: $borderShape;
        }

        &::after {
            right: $borderPlace;
            bottom: $borderPlace;
            border-right: $borderShape;
            border-bottom: $borderShape;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h5 {
        padding-bottom: 0.5rem;
        color: var(--main-color);
    }

    p {
        padding-bottom: 1.5rem;
        font-weight: 300;
    }
}

.image {
    position: relative;
    background-color: #bbb;

    span {
        position: absolute;
        color: var(--main-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
