.hidden {
    display: none;
}

.column {
    flex-basis: 50%;
}

.center {
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.site-logo {
    color: #fff;
}
