@import '../1-utilities/variables';

.hidden {
    display: none;
}

.column {
    flex-basis: 50%;
}

.vertical-wrapper {
    display: flex;
    align-items: center;
}

.center {
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
