ul {
    display: flex;
    justify-content: space-between;
}

.nav {
    padding: 0.5em 0;
    background-color: var(--main-color);
    border-top: var(--nav-border);
    border-bottom: var(--nav-border);
    color: var(--secondary-color-lighter);

    & > div > ul {
        flex-basis: 100%;
    }
}

.logo-wrapper {
    margin-right: 2em;
}

.list {
    display: flex;
    border-radius: 0.3em;
    border: 0.1em solid transparent;

    a {
        padding: 0.3em 1em;
        text-transform: uppercase;
        color: var(--secondary-color-lighter);
    }

    &:focus,
    &:hover {
        background-color: var(--secondary-color-lighter);

        a {
            color: var(--main-color);
        }
    }

    li > ul > li + li {
        margin-left: 0.5em;
    }
}

.vertical-wrapper {
    display: flex;
    align-items: center;
}
