$fieldsWidth: 100%;

.form-input {
    max-width: 20em;
    display: flex;
    flex-wrap: wrap;

    label {
        position: relative;
        flex-basis: $fieldsWidth;
        line-height: 1;
        color: var(--main-color);

        &::after {
            display: block;
            content: '';
            width: 3em;
            height: 3em;
            position: absolute;
            right: -1.5em;
            bottom: -1.5em;
            border-top: 0.5em solid var(--main-color);
            border-right: 0.5em solid var(--main-color);
        }
    }

    input {
        padding: 0.75em 0.5em;
        flex-basis: $fieldsWidth;
        border: var(--main-input-border);
        border-radius: 0.2em;
        outline: none;

        &:focus {
            border-color: var(--main-color);
        }
    }

    div {
        flex-basis: $fieldsWidth;
    }
}
