@import '../1-utilities/variables';

.contact-us {
    padding: 3em 0;
    display: flex;
    background-color: $secondaryColor;
    color: $mainColor;
}

.description {
    h2,
    p {
        padding-bottom: 2rem;
    }

    h2 {
        display: flex;
        flex-direction: column;

        span {
            flex-basis: 100%;
        }
    }

    p {
        max-width: 20em;
    }
}
