@import '../1-utilities/variables';

.nav {
    padding: 0.5em 0;
    background-color: $mainColor;
    border-top: $navBorder;
    border-bottom: $navBorder;
    color: $secondaryLighterColor;

    & > div > ul {
        flex-basis: 100%;
    }
}

.logo-wrapper {
    margin-right: 2em;
}

.list {
    display: flex;
    border-radius: 0.3em;
    border: 0.1em solid transparent;

    a {
        padding: 0.3em 1em;
        text-transform: uppercase;
        color: $secondaryLighterColor;
    }

    &:focus,
    &:hover {
        background-color: $secondaryLighterColor;
        // border-color: $secondaryLighterColor;

        a {
            color: $mainColor;
        }
    }
}

li > ul > li + li {
    margin-left: 0.5em;
}
