:root {
    --test-test: #359;
    --main-color: #7c2c0c;
    --main-element-border: 0.05em solid var(--main-color);
}

$mainBackgroundColor: #fff;
$mainColor: #7c2c0c;
$secondaryColor: #fae6c4;
$secondaryLighterColor: #efe4d1;
$secondaryDarkerColor: #8e8e8e;

$mainElementBorder: 0.05em solid $mainColor;
$mainInputBorder: 0.05em solid $secondaryDarkerColor;
$navBorder: 0.75em solid $secondaryLighterColor;
