.angles {
    margin: 2.15rem;
    padding: 2.15rem;
    position: relative;
    border: 0.1rem solid #7c2c0c;
}

.angles::before,
.angles::after {
    display: block;
    position: absolute;
    content: '';
    width: 6.5rem;
    height: 6.5rem;
}

.angles::before {
    top: -2.15rem;
    left: -2.15rem;
    border-top: 0.85rem solid #7c2c0c;
    border-left: 0.85rem solid #7c2c0c;
}

.angles::after {
    right: -2.15rem;
    bottom: -2.15rem;
    border-right: 0.85rem solid #7c2c0c;
    border-bottom: 0.85rem solid #7c2c0c;
}
