.our-work {
    padding: 5em 0;
    background-color: var(--main-background-color);
}

.container {
    flex-basis: 100%;

    header {
        padding-bottom: 3rem;
        text-align: center;

        h3 {
            padding-bottom: 1.5rem;
            color: var(--main-color);
        }

        p {
            font-weight: 300;
        }
    }

    ul {
        padding-bottom: 4rem;
        display: flex;
        justify-content: space-between;

        li {
            padding: 2em 1em;
            flex: 0 1 18em;
            text-align: center;
            border: var(--main-element-border);
            color: var(--main-color);

            div {
                width: 170px;
                height: 270px;
                margin: 0 auto;
                background-color: #bbb;
            }

            h6,
            div {
                margin-bottom: 2rem;
            }
        }

        li + li {
            margin-left: 1em;
        }
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
