.site-footer {
    background-color: #100703;
    color: #fcfcfc;
}

.footer-shop {
    flex-basis: 100%;
}

.footer-services {
    display: flex;
}

.service-card {
    max-width: 20%;

    header {
        text-transform: uppercase;
        padding-bottom: 1.5em;
    }

    p,
    ul {
        opacity: 0.5;
    }

    p {
        overflow-wrap: break-word;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            flex-basis: 100%;
            margin-bottom: 0.5em; // useful links
        }
    }
}

.service-card-media {
    flex-wrap: nowrap;

    ul {
        li + li {
            margin-left: 0.5em;
        }

        li {
            width: 3em;
            height: 3em;
            line-height: 1;
            border-radius: 50%;
            background-color: #171717;
            position: relative;

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.site-rights {
    color: #0b0b22;
    padding: 1em 0;
    text-align: center;
    background-color: var(--main-background-color);
}
