.site-footer {
    background-color: #100703;
    color: #fcfcfc;
}

.footer-shop-details {
    padding: 6em 0 2em 0;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;

    .info {
        display: flex;
        cursor: pointer;

        &::before {
            margin-right: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
        }

        &:nth-child(1):before {
            content: '1';
        }

        &:nth-child(2):before {
            content: '2';
        }

        &:nth-child(3):before {
            content: '3';
        }
    }
}

.footer-services .service-card {
    &-navigation {
        width: 17%;
    }

    &-repair {
        width: 15%;
    }

    &-media {
        width: 26%;
    }

    &-center {
        width: 28.5%;
    }

    .header {
        padding-bottom: 1.5em;
        white-space: nowrap;
    }

    .body {
        overflow-wrap: break-word;
        opacity: 0.5;

        .links {
            margin-bottom: 0.5em;
            cursor: pointer;
        }
    }

    .list {
        display: flex;

        .links + .links {
            margin-left: 0.5em;
        }

        .links {
            width: 3em;
            height: 3em;
            line-height: 1;
            border-radius: 50%;
            background-color: #171717;
            position: relative;
            cursor: pointer;

            &::before {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                line-height: 1;
            }

            &:nth-child(1):before {
                content: '1';
            }

            &:nth-child(2):before {
                content: '2';
            }

            &:nth-child(3):before {
                content: '3';
            }

            &:nth-child(4):before {
                content: '4';
            }
        }
    }
}

.site-rights {
    color: #0b0b22;
    padding: 1em 0;
    text-align: center;
    background-color: var(--main-background-color);
}
