.site-footer {
    background-color: #100703;
    color: #fcfcfc;
}

.footer-shop {
    flex-basis: 100%;
}

.footer-services {
    flex: 0 0 25%;
}

.footer-rights {
    color: #0b0b22;
    padding: 1em 0;
    text-align: center;
    background-color: var(--main-background-color);
}
